.body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    
    /* background: radial-gradient(circle, #121269 0%, #1d1b31 100%)!important; */
}
@font-face {
  font-family: solthin;
  src: url(solthinregular.ttf);
}
.clash-text{
  font-family: 'solthin';
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:flex-end !important;
}
.pisblogo{
  float: right; 
  margin-left: auto; 
  overflow: hidden;
}
/*.btn:hover {
    opacity:0.8
}*/

/* ::placeholder{
    color:#081623;
    opacity: 1;
}
::-ms-input-placeholder{
    color:#081623;
}
:-ms-input-placeholder{
    color:#081623;
} */

/* .login-box:hover::before{
    animation: animate 0.2s linear forwards;
} */
@media(max-width:768px){
  .credenz-logo,.clash-text{
    display: none;
  }
  .login-box{
    justify-self: center;

  }
  .right-col{
    width: 100%;
  }
}

.login-box:after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3%;
}

footer {
    color: #fff;
    text-align: center;
    padding: 0.4rem 0;
    display: flex!important;
    flex-direction: row;
    /* border-top: solid 1px white; */
    justify-content: space-evenly!important;
    justify-content: space-between;
    background-color: #010718;
  }
  footer .leftieee,
  footer .middleieee {
    padding-top: 5px;
  }
  footer .social-links {
    display: flex;
    /* float: right; */
    justify-content: center;
    font-size: 18px;
    margin-top: .1rem;
  }
  .social-links a {
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 1.5rem;
    transition: all 0.5s ease;
    text-decoration: none!important;
  }
  
 
  footer span {
    font-size: 16px;
  }
  footer span a {
    color: white;
    border: 1px white solid;
    padding: 5px;
    border-radius: 3px;
  }
  footer span a:hover {
    background-color: white;
    color: black;
  }
  
  .social-links a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -8px);
  }
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #92e6ff;
        border-radius: 3%;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #92e6ff;
        border-left-color: #92e6ff;
        border-radius: 3%;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #92e6ff;
        border-left-color: #92e6ff;
        border-radius: 3%;
    }
}

@media screen and (max-width: 1280px) {
    .login-box{
       
    }    
}
@media screen and (min-width: 1280px) {
}

.login-box{
  border-radius: 3%;
    /* height: auto;
    width:auto;  */
    width: 350px;
    justify-self: flex-end;
    backdrop-filter: blur(10px);
    box-shadow: 5px 7px 10px #92e6ff;
    -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(5px); /* Chrome and Opera */
  
}
.login-box:before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3%;
}
.login-box:hover::before{
    animation: animate 0.2s linear forwards;
}
@media(max-width:768px){
  .credenz-logo,.clash-text{
    display: none;
  }
  .login-box{
    justify-self: center;

  }
  .right-col{
    width: 100%;
  }
}
@keyframes animate {
    0%{
        width: 0;
        height: 0;
        border-top-color: #92e6ff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 3%;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: #92e6ff;
        border-right-color: #92e6ff;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 3%;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: #92e6ff;
        border-right-color: #92e6ff;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 3%;
    }
}
.login-box:after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3%;
}
.login-box:hover::after{
    animation: animate2 0.2s linear forwards;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  color: #92e6ff;
  transition: all .3s ease-out;
  display: block;
  font-family: sans-serif;
  text-decoration: none;
}

.text:hover {
  color: #202A44;
  font-weight: bold;  
}
label input {
  position: absolute;
  left: -9999px;
}
label input:checked + span {
  background-color: #11101d;
}
label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #38d1ff;
}
label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
label span:hover {
  background-color: #11101d;
}
label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #38d1ff;
}
.clash-text::first-line{
  font-size: 1.7rem!important;
}
.clash-text .event-name{
  font-size: 4.5rem!important;
}

.footer {
  background: linear-gradient(45deg, #19638b, #011722);
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  /* border-top: solid 1px white; */
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  flex-shrink: 0;
}
.footer .leftieee,
.footer .middleieee {
  padding-top: 5px;
}
.footer .social-links {
  display: flex;
  /* float: right; */
  justify-content: center;
  font-size: 18px;
  /* margin-bottom: 1.2rem; */
}
.social-links a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: white;
}

.footer span {
  font-size: 16px;
}
.footer span a {
  color: white;
  border: 1px white solid;
  padding: 5px;
  border-radius: 3px;
}
.footer span a:hover {
  background-color: white !important;
  color: black !important;
}

.social-links a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -8px);
}


/* .circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #B904FF);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
} */


.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #1E2A7A;
  border-radius: 10px;
  transition: .3s;
}

.center:hover {
  box-shadow: 0px 10px 20px #144c71;
  border: 2px solid #92e6ff!important;
}



.center::before{
  right: 0;
  top: 0;
}
.center::after{
  left: 0;
  bottom: 0;
}
.center span::before{
  left: 0;
  top: 0;
}
.center span::after{
  right: 0;
  bottom: 0;
  border: 2px solid #92e6ff;
}
.center:hover::before, .center:hover::after{
  transition-delay: 0.2s;
}
.center:hover span::before, .center:hover span::after{
  transition-delay: 0s;
}



.center h1{
  color: white;
  text-align: center;
  padding: 20px 0;
  
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #92e6ff!important;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  color: white;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #2691d9;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  
  color: #92e6ff;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: white;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}